<div class="form-group">
  <label for="mapping">Selection du mapping</label>
  <select name="mapping" id="mapping" class="form-control" data-url="{{ path('check_format_mapping_save_configuration') }}">
    {% for mapping_configuration in mapping_configurations %}
      <option value="{{ mapping_configuration.id }}" {% if mapping_configuration.active %}selected{% endif %}>{{ mapping_configuration.libelle }}</option>
    {% endfor %}
  </select>
</div>

<div class="btn-group text-center w-100">
  <button id="btn_add_mapping_configuration" class="btn btn-info btn-raised" data-toggle="modal" data-target="#addConfigurationModal">
    <i class="fa fa-plus-circle fa-fw"></i>Ajouter une nouvelle configuration
  </button>
  <button id="btn_remove_mapping_configuration" class="btn btn-danger btn-raised" data-url="{{ path('check_format_mapping_remove_configuration') }}">
    <i class="fa fa-trash-o fa-fw"></i>Supprimer la configuration actuelle
  </button>
  <button id="btn_export_mapping_configuration" class="btn btn-primary btn-raised" data-url="{{ path('check_format_mapping_export_configuration') }}">
    <i class="fa fa-download fa-fw"></i>Exporter la configuration actuelle
  </button>
</div>

<div class="modal fade" id="addConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="addConfigurationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Ajouter une configuration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-add-configuration" action="" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="mapping_configuration_libelle">Libellé</label>
            <input name="mapping_configuration_libelle" id="mapping_configuration_libelle" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="file_import">Importer un fichier de configuration</label>
            <input id="file_import" name="file_import" type="file">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn_add_configuration" type="button" class="btn btn-primary btn-raised"
                data-url="{{ path('check_format_mapping_add_configuration', {code: mapping_configuration_type.code}) }}">Ajouter</button>
      </div>
    </div>
  </div>
</div>