<div class="modal fade" id="modalSelectChamps" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-primary">
        <h5 class="modal-title" id="exampleModalLabel">Mise à jour de la correspondance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <button id="btn-remove-correspondance" class="btn btn-danger w-100">Supprimer la correspondance actuelle</button>
          <small><i class="fa fa-info-circle fa-fw"></i>En cliquant ci-dessus, vous supprimez le mapping enregistré pour ce champ.</small>
        </div>

        <hr>

        <p class="modal-title" id="exampleModalLabel">Sélectionner le champ correspondant à la colonne : <b class="text-primary">{{ lib_colonne }}</b></p>

        <div class="form-group">
          <label for="champs">Champ</label>
          <select name="champs" id="champs" class="form-control" data-lib-colonne="{{ lib_colonne }}" data-url="{{ path('check_format_mapping_select_champs_options', {code: mapping_configuration_type.code}) }}">
            <option value=""></option>
            {% for champ in champs %}
              <option value="{{ champ.data }}" data-type="{{ champ.type }}">{{ champ.libelle }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="options-div">
        </div>
      </div>
    </div>
  </div>
</div>