<h4 class="mb-4">Votre fichier comporte au moins une erreur :</h4>
{% if resultat.error_message is defined and resultat.error_message != '' %}
  <p class="text-danger"><b><i class="fa fa-exclamation-triangle fa-fw"></i>{{ resultat.error_message }}</b></p>
{% endif %}
<p>Nombre de ligne dans le fichier : {{ resultat.nb_lignes }}</p>
{% if errors_list is defined %}
  <ul>
    {% for error_line in resultat.errors_list %}
      <li>Ligne {{ error_line.ligne }} : </li>
      <ul>
        {% for error_detail in error_line.errors_list.classic %}
          <li>{% if error_detail.field is not null %}{{ error_detail.field }} : {% endif %}{{ error_detail.error_message }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endif %}