<h4 class="mb-4 text-danger"><i class="fa fa-exclamation-triangle fa-fw"></i>Le contrôle de votre fichier a révélé moins une erreur</h4>
{% if resultat.error_message is defined and resultat.error_message != '' %}
  <p class="text-danger"><b><i class="fa fa-exclamation-triangle fa-fw"></i>{{ resultat.error_message }}</b></p>
{% endif %}

<hr>
{% if resultat.nb_lines is defined %}
    <p class="text-primary"><i class="fa fa-info-circle fa-fw"></i>Nombre de ligne dans le fichier : <b>{{ resultat.nb_lines }}</b></p>
    <hr>
{% endif %}

<p><b>Détails des erreurs :</b></p>

{% if resultat.errors_list is defined %}
  <ul>
    {% for error_line in resultat.errors_list %}
      <li>Ligne {{ error_line.ligne }} : </li>
      <ul>
        {% for error_detail in error_line.errors_list.classic %}
          <li>{% if error_detail.field is not null %}{{ error_detail.field }} : {% endif %}{{ error_detail.error_message }}</li>
        {% endfor %}
        {% for error_detail in error_line.errors_list.advanced %}
          <li>{% if error_detail.field is not null %}{{ error_detail.field }} : {% endif %}{{ error_detail.error_message }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endif %}
