{% extends basePath %}

{% block others_js %}
  {{ encore_entry_script_tags('js/check_format/controle') }}
{% endblock %}

{% block others_stylesheets %}
  {{ encore_entry_link_tags('css/imanaging_bootstrap_min') }}
{% endblock %}

{% block body %}
  <div class="container">
  <h4 class="text-center display-4">{{ mapping_configuration_type.libelle }} - Mapping</h4>

  <h2 class="text-center text-info">Page de contrôle du fichier</h2>

  <a href="{{ path('check_format_mapping_page', {code: mapping_configuration_type.code}) }}" class="btn btn-primary mb-2">Revenir au mapping</a>
  <div class="card">
    <h3 class="card-header">Contrôle du fichier</h3>
    <div class="card-body">
      {% if fichiers_clients|length > 0 %}
        Fichier(s) en attente d'intégration :

          {% for fichier in fichiers_clients %}
            <div>
              <span><i class="fa fa-arrow-circle-o-right text-info fa-fw fa-lg"></i><span class="text-info">{{ fichier.filename }}</span> ( Nom initial : <b>{{ fichier.initialFilename }}</b>)</span>
              {% if advanced_values_saisie_manuelle|length > 0 %}
                <form action="{{ path('check_format_mapping_configuration_file_save_saisies_manuelles', {'id' : fichier.id}) }}" method="post">
                  {% for value in advanced_values_saisie_manuelle %}
                    <div class="form-group mt-2">
                      <label for="{{ value.id }}">Donnée à saisir : {{ value.mappingConfigurationValue.mappingCode }}</label>
                      <input type="text" id="{{ value.id }}" name="{{ value.id }}" value="{{ fichier.getValueSaisieManuelle(value.id) }}" class="form-control">
                    </div>
                  {% endfor %}
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                  </div>
                </form>
              {% endif %}
              <hr>
            </div>
          {% endfor %}
        <div id="spinner_integration" class="d-none">
          <i class="fa fa-lg fa-spinner fa-spin"></i> <i>Contrôle en cours</i>
        </div>
        <div id="div_controle">
          <p>Procédez au contrôle du fichier :</p>
          <div class="btn-group">
            <button id="btn_controle_fichier" class="btn btn-dark" data-url="{{ path('check_format_mapping_controler_fichier', {code: mapping_configuration_type.code}) }}">
              Contrôlez le fichier <i class="fa fa-check text-success"></i>
            </button>
          </div>
        </div>

        <hr>
        <div id="div_resultat_import">
        </div>
      {% else %}
        <p><i class="fa fa-info-circle fa-fw"></i>Aucun fichier n'est en attente d'intégration. Veuillez retourner à l'étape de mapping pour soumettre un nouveau fichier.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}