<h5>Détail de la valeur <b>{{ value.mappingCode }}</b>:</h5>

{% if values_avances|length > 0 %}
<table class="table table-bordered table-striped text-center">
  <thead>
    <tr>
      <th>Type</th>
      <th>Valeur</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for valeur_avance in values_avances %}
    <tr>
      <td>{{ valeur_avance.mappingConfigurationValueAvanceType.libelle }}</td>
      <td>{{ valeur_avance.value }}</td>
      <td>
        <i class="fa fa-times text-danger pointer delete-valeur-avancee-detail"
           data-toggle="tooltip" data-placement="top" title="Supprimer la valeur" data-valeur-avancee-id="{{ valeur_avance.id }}"></i>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% else %}
  <span class="text-warning">Aucune valeur de paramètrée pour le moment.</span>
{% endif %}
<div class="row">
  <div class="col-sm-6 offset-3">
    <button id="btnAddValeur" class="btn btn-outline-info" data-toggle="modal" data-target="#addValeurAvanceDetailModal">Ajouter une valeur</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addValeurAvanceDetailModal" tabindex="-1" role="dialog" aria-labelledby="addValeurAvanceDetailModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une valeur avancée</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="type-valeur-avancee">Type de données</label>
          <select class="form-control" id="type-valeur-avancee">
            {% for type in types_values %}
              <option value="{{ type.code }}">{{ type.libelle }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group" id="modalValueText">
          <label for="value-valeur-avancee">Valeur</label>
          <input type="text" class="form-control" id="value-valeur-avancee" placeholder="Entrez la valeur souhaitée">
        </div>

        <div class="form-group d-none" id="modalValueDelimiter">
          <label for="delimiter-valeur-avancee">Délimiteur</label>
          <input type="text" class="form-control" id="delimiter-valeur-avancee" placeholder="Entrez le délimiteur souhaitée">
        </div>

        <div class="form-group d-none" id="modalSelectEnteteFile" >
          <label for="select_entete">Valeur - entête fichier</label>
          <select class="form-control" id="select_entete" name="select_entete">
            {% for indexFile, entete in ligne_entete %}
              <option value="{{ indexFile }}">{{ entete }}</option>
            {% endfor %}
          </select>
        </div>

        <div id="modalCustomDate" class="d-none">
          <div class="form-group">
            <label for="date_custom_format">Format de la date (utilisation des <a href="https://www.php.net/manual/fr/datetime.format.php">format date time PHP</a>)</label>
            <input type="text" id="date_custom_format" name="date_custom_format" class="form-control">
          </div>

          <div class="form-group">
            <label for="date_custom_modify">Modification de la date (utilisation du <a href="https://www.php.net/manual/fr/datetime.modify.php">modify date time php</a>)</label>
            <input type="text" id="date_custom_modify" name="date_custom_modify" class="form-control">
          </div>
        </div>

        <div id="modalCustomMultiEntete" class="d-none">
          <span >Colonnes <i class="fa fa-plus-circle text-success" id="btn-add-ligne-array"></i></span>
          <table class="table table-bordered table-striped text-center" id="tableMultiColonne">
            <thead>
              <tr>
                <th>Code</th>
                <th>Colonne</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" id="code_0" name="code_0">
                </td>
                <td>
                  <select class="form-control" id="select_entete_0" name="select_entete_0">
                    {% for indexFile, entete in ligne_entete %}
                      <option value="{{ indexFile }}">{{ entete }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center">
          <button id="btnValidAjoutValueAvance" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var nbColonnes = 0;
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  $('#type-valeur-avancee').change(function() {
    let value = $(this).val();
    if (value === "value_file") {
      $('#modalValueText').addClass('d-none');
      $('#modalSelectEnteteFile').removeClass('d-none');
      $('#modalCustomDate').addClass('d-none');
      $('#modalValueDelimiter').addClass('d-none');
      $('#modalCustomMultiEntete').addClass('d-none');
    } else if (value === "date_custom") {
      $('#modalValueText').addClass('d-none');
      $('#modalSelectEnteteFile').addClass('d-none');
      $('#modalCustomDate').removeClass('d-none');
      $('#modalValueDelimiter').addClass('d-none');
      $('#modalCustomMultiEntete').addClass('d-none');
    } else if (value == "multi_column_array") {
      $('#modalValueText').addClass('d-none');
      $('#modalSelectEnteteFile').addClass('d-none');
      $('#modalCustomDate').addClass('d-none');
      $('#modalValueDelimiter').removeClass('d-none');
      $('#modalCustomMultiEntete').removeClass('d-none');
    } else {
      $('#modalValueText').addClass('d-none');
      $('#modalSelectEnteteFile').addClass('d-none');
      $('#modalCustomDate').addClass('d-none');
      $('#modalValueDelimiter').addClass('d-none');
      $('#modalCustomMultiEntete').addClass('d-none');
    }
  });

  $('#btnValidAjoutValueAvance').click(function(){
    console.log('yooyooy');
    let type = $('#type-valeur-avancee').val();
    if (type !== undefined){
      let value = $('#value-valeur-avancee').val();
      let file_index = $('#select_entete').val();
      let file_entete = $('#select_entete option:selected').text();
      let date_custom_format = $('#date_custom_format').val();
      let date_custom_modify = $('#date_custom_modify').val();
      let delimiter = $('#delimiter-valeur-avancee').val();
      let multiColumnArray = [];
      for (let i = 0; i <= nbColonnes; i++) {
        multiColumnArray.push({'code' : $('#code_'+i).val(), 'value' : $('#select_entete_'+i).val()});
      }
      let data = {'value': value, 'type': type, 'file_index': file_index, 'file_entete': file_entete,
        'date_custom_format' : date_custom_format, 'date_custom_modify' : date_custom_modify, 'delimiter': delimiter, 'multi_column_array' : multiColumnArray};

      $('#divConfigurationAvances').html('<i class="fa fa-spin fa-spinner fa-2x fa-fw"></i><span>Enregistrement en cours ...</span>');
      $.ajax({
        url: "{{ path('check_format_mapping_configuration_values_avances_detail_add', {'id': value.id}) }}",
        type: 'POST',
        data: data,
        success: function (data){
          $('.modal-backdrop').remove();
          $('#divConfigurationAvances').html(data);
          let id = '{{ value.id }}';
          let td = $('.nb-valeur-avancee[data-id="' + id + '"]');
          let currentNumber = parseInt(td.html());
          td.html(currentNumber + 1);
          $('.lookingForDetail[data-id="' + id + '"]').trigger('click');
        },
        error: function (data){
          $('.modal-backdrop').remove();
          if (data.responseJSON !== undefined){
            $('#divConfigurationAvances').html('<i class="fa fa-warning fa-2x text-danger fa-fw"></i>'+data.responseJSON.error_message);
          } else {
            $('#divConfigurationAvances').html('<i class="fa fa-warning fa-2x text-danger fa-fw"></i>Une erreur inconnue est survenue.');
          }
        }
      });
    } else {
      $('.modal-backdrop').remove();
      alert('Veuillez sélectionner un type.');
    }
  });

  $(".delete-valeur-avancee-detail").click(function(){
    let valeurAvanceeId = $(this).data('valeur-avancee-id');
    let data = {valeur_avancee_id: valeurAvanceeId};
    $('#divConfigurationAvances').html('<i class="fa fa-spin fa-spinner fa-2x"></i><span> Enregistrement en cours ...</span>');
    $.ajax({
      url: "{{ path('check_format_mapping_configuration_values_avances_detail_remove') }}",
      type: 'POST',
      data: data,
      success: function (data) {
        $('#divConfigurationAvances').html(data);
        let id = '{{ value.id }}';
        let td = $('.nb-valeur-avancee[data-id="' + id + '"]');
        let currentNumber = parseInt(td.html());
        td.html(currentNumber - 1);
        $('.lookingForDetail[data-id="' + id + '"]').trigger('click');
      },
      error: function () {
        $('#divConfigurationAvances').html('<i class="fa fa-warning fa-2x text-danger"></i><span> Le chargement du détail a échoué.</span>');
      }
    });
  });

  $('#btn-add-ligne-array').click(function() {
    nbColonnes ++;
    var select = '<tr><td><input type="text" class="form-control" id="code_'+nbColonnes+'" name="code_'+nbColonnes+'"></td><td><select class="form-control" id="select_entete_'+nbColonnes+'" name="select_entete_'+nbColonnes+'">';

    {% for indexFile, entete in ligne_entete %}
      select += '<option value="{{ indexFile }}">{{ entete }}</option>';
    {% endfor %}
    select += '</select></td></tr>';

    $('#tableMultiColonne').find("tbody").append(select);
  });


</script>
