<h3 class="text-info text-center mb-3">Mode avancé</h3>
<div class="row">
  <div class="col-sm">
    <table class="table table-bordered table-striped text-center">
      <thead>
      <tr>
        <th>Champ de mapping</th>
        <th>Nombre de valeur avancée</th>
        <th><i class="fa fa-search"></i> / <i class="fa fa-times text-danger"></i></th>
      </tr>
      </thead>
      <tbody>
      {% for mapping_value in values_avances %}
        <tr class="ligne-mapping">
          <td>{{ mapping_value.mappingCode }}</td>
          <td>{{ mapping_value.mappingConfigurationValueAvances|length }}</td>
          <td>
            <i data-id="{{ mapping_value.id }}" class="fa fa-search lookingForDetail"></i> /
            <i class="fa fa-times text-danger pointer delete-value-avancee"
               data-toggle="tooltip" data-placement="top" title="Supprimer la valeur" data-mapping-value-id="{{ mapping_value.id }}"></i>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-6 offset-3">
        <button id="btnAddValeur" class="btn btn-outline-info" data-toggle="modal" data-target="#addValeurAvanceModal">Ajouter une valeur</button>
      </div>
    </div>
  </div>
  <div class="col-sm" id="divConfigurationAvances">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addValeurAvanceModal" tabindex="-1" role="dialog" aria-labelledby="addValeurAvanceModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une valeur avancée</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="type">Type de données</label>
          <select class="form-control" id="type" name="type">
            {% for data, champ in champs_possibles %}
              <option value="{{ data }}">{{ champ.libelle }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="text-center">
          <button type="button" id="btnValidAjoutValue" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#btnValidAjoutValue").click(function(){
    let mappingId = $('#mapping').val();
    let type = $("#type").val();
    let data = {mapping_id: mappingId, type: type};
    $.ajax({
      url: "{{ path('check_format_mapping_add_configuration_values_avances', {'id': value.id}) }}",
      type: 'POST',
      data: data,
      success: function(data){
        $('#divModeAvance').html(data);
        $('#addValeurAvanceModal').modal('hide');
        $('.modal-backdrop').hide();
      },
      error: function(){
        alert('Une erreur est survenue lors de l\'ajout.')
      }
    });
  });

  $(".delete-value-avancee").click(function(){
    let mappingId = $('#mapping').val();
    let mappingValueId = $(this).data('mapping-value-id');
    let data = {mapping_id: mappingId, mapping_value_id: mappingValueId};
    $.ajax({
      url: "{{ path('check_format_mapping_remove_configuration_values_avances') }}",
      type: 'POST',
      data: data,
      success: function(data){
        $('#divModeAvance').html(data);
        $('#addValeurAvanceModal').modal('hide');
        $('.modal-backdrop').hide();
      },
      error: function(){
        alert('Une erreur est survenue lors de la suppression.')
      }
    });
  });

  $('.lookingForDetail').click(function() {
    $('.ligne-mapping').removeClass('bg-info text-light');
    $('#divConfigurationAvances').html('<i class="fa fa-spin fa-spinner fa-2x fa-fw"></i><span>Chargement en cours ...</span>');

    let id = $(this).data('id');
    let data = {configuration_avance_id: id, files_directory: filesDirectory};
    $.ajax({
      url: "{{ path('check_format_mapping_configuration_values_avances_detail') }}",
      type: 'POST',
      data: data,
      success: function(data){
        $('#divConfigurationAvances').html(data);
      },
      error: function(){
        $('#divConfigurationAvances').html('<i class="fa fa-warning fa-2x text-danger"></i><span> Le chargement du détail a échoué.</span>\'');
      }
    });
    $(this).parent().parent().addClass('bg-info text-light');
  });
</script>
